* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f7f8;
  font-family: "Poppings", sans-serif;
  text-transform: uppercase;
}

img {
  width: 100%;
}

.page-navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  width: 100%;
  padding-right: 50%;
  font-size: 1.4rem;
  background-color: #FCDE70;
  box-shadow: 0.01rem 0.5rem 1rem 1px rgb(252, 222, 112, 0.8);

}

.navbar-brand {
  position: relative;
  left: 40%;
  font-size: 1.7rem;
  font-weight: 400;
}

.header__logo {
  width: 5rem;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.navbar-nav {
  position: relative;
  left: 65%;
}

.navbar-nav .nav-item {
  margin: 0.5rem;
}

.navbar-nav .get-started {
  border: 1px solid #F5F7F8;
  background-color: #E8B86D;
  border-radius: 25px;
  padding: 0 10px;
  margin-left: 4rem;
  text-align: center;
  text-wrap: nowrap;
}

.navbar-nav .get-started  a{
  color: #F5F7F8;
}


.main-content {
  margin-top: 13%;
  max-width: 140rem;
  min-width: 100rem;
}

.main-presentation {
  width: 65%;
  align-items: center;
  display: flex;
  padding: 2rem;
  border: 0.5px solid rgb(252, 222, 112, 0.8);
  box-shadow: 2px 4px 10px 2px rgb(252, 222, 112, 0.8);
  border-radius: 25px;
  position: relative;
}

.main-presentation .main-presentation__article {
  gap: 3rem;
  display: flex;
  justify-content: space-between;
}

.main-presentation .main-presentation__article .article__item {
    text-align: center;
}

.main-presentation
  .main-presentation__article
  .article__item
  .article__item__title {
  font-size: 3rem;
  margin-top: 1.5rem;
}

.main-presentation
  .main-presentation__article
  .article__item
  .article__item__title2 {
  color: #fcde70cc;
}

.main-presentation .main-presentation__article .article__item img {
  width: 25rem;
}

.article__item__p {
font-size: 1.3rem;
margin-top: 3rem;
text-transform: none;
}

.article__item__button {
    margin-top: 3rem;
    width: 14rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    text-wrap: nowrap;
    background-color: #fcde70cc;
}

.hot-desserts {
  display: block;
  width: 70rem;
  margin: 15rem auto 0;
}

.hot-desserts span {
  font-size: 1.8rem;
}

.hot-desserts-container {
  display: flex;
  flex-flow: row wrap;
  width: 70rem;
  margin: 1rem auto 0;
}

